[package]
name = "bt2usb"
version = "1.0.0"
edition = "2021"

[dependencies]
btleplug = "0.11.6"
hidapi = "2.6.3"
futures = "0.3.31"
tokio = { version = "1.42.0", features = ["macros", "rt-multi-thread"] }
anyhow = "1.0"
crossterm = "0.27"
uuid = "1.0"
